{% extends "base.html" %} {% block content %}
<div class="px-5 masthead vh-100">
  <body>
    <h1>Welcome {{ user }}!</h1>

    {% if config.get("ENDPOINT") %}
    <li><a href="/graphcall">Call Microsoft Graph API</a></li>
    {% endif %} {% if config.get("B2C_PROFILE_AUTHORITY") %}
    <li>
      <a
        href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'
        >Edit Profile</a
      >
    </li>
    {% endif %}

    <li><a href="/logout">Logout</a></li>
    <hr />
    <footer style="text-align: right">
      Powered by MSAL Python {{ version }}
    </footer>
  </body>
</div>

{% endblock %}
